.footer-container{
    background-color: var(--primary-color);
    padding: 50px 0px 0px 0px;
    gap: 20px;
    padding: 0px 40px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 40px;
}

.footer h3{
    color: var(--white-font);
}

.logo-footer{
    max-width: 200px;
    padding: 1rem 1rem;
}

.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 25px;
    padding: 1px 0px 1px 0px;
}

.copyright{
    background-color: black;
    padding: 0px 10px;
    font-size: 10px;
    text-align: center;
}