@media screen and (max-width:480px) {

  .quienes-somos{
    display: grid;
    grid-template-columns: 1fr;
}
    .img-repro{
    width: 100%;
}

.quienes-somos h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 800px;
    line-height: 0.7;
    
}

.servicios{
    display: grid;
    grid-template-columns: 1fr;
}

.footer{
    display: grid;
    grid-template-columns: 1fr;
}
}

.contacto{
    display: grid;
    grid-template-columns: 1fr;
}


