.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--gray-dark);
    padding: 80px;
    gap: 50px;
    text-align: left;

}

.padding-80{
    padding: 5px 40px 10px 5px;
}

.img-repro{
    width: 750px;
    /*border: 1px solid white;*/
    border-radius: 25px;
}

.quienes-somos h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 800;
    
}

.lista{
    text-align: left;
}

.quienes-somos2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--gray-dark);
    padding: 80px;
    gap: 50px;
    text-align: left;

}

.quienes-somos2 h1{
    color: var(--primary-color);
    font-size: 70px;
    font-weight: 800px;
    text-align: center;
}

.quienes-somosrepro{
    inline-size: 800px;
    overflow-wrap: break-word;
    line-height: 30px;
    text-align: justify;

}

.video{
    width: 500px;
    height: 600px;

}

.servicios-qs{
    display: grid;
    grid-template-columns: 1fr;
    color: var(--gray-dark);
    padding: 20px;
    
}