.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--gray-dark);
    padding: 80px;
    gap: 50px;
    text-align: left;

}

.padding-80{
    padding: 5px 40px 10px 5px;
}

.img-repro{
    width: 750px;
    /*border: 1px solid white;*/
    border-radius: 25px;
}

.quienes-somos h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 800;
    
}

.lista{
    text-align: left;
}

.quienes-somos2{
    display: flex;
    grid-template-columns: 1fr 1fr;
    color: var(--gray-dark);
    padding: 80px;
    gap: 50px;
    text-align: left;
    justify-content: center;

}

.quienes-somos2 h1{
    color: var(--primary-color);
    font-size: 70px;
    font-weight: 800px;
    text-align: center;
}

.quienes-somosrepro{
    inline-size: 800px;
    overflow-wrap: break-word;
    line-height: 30px;
    text-align: justify;

}

.video{
    width: 300px;
    height: 500px;
 justify-content: center;
}

.vision{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    align-items: start;
}

.col h2{
     color: var(--white);
    font-size: 40px;
    font-weight: 70;
    text-align: center;
}

.col h3{
     color: var(--white);
    font-size: 40px;
    font-weight: 70;
    text-align: center;
}

.col h4{
    color: var(--white);
    font-size: 40px;
    font-weight: 70;
    text-align: center;

}


.col p{
    color: var(--white);
    font-size: 16px;
    padding: 10px;
   text-align: center;

}

.porque{
    background-color: var(--white);
    color: var(--gray-dark);
    padding: 50px 30px;
    text-align: justify;
    row-gap: 20px;
    font-size: 16px;
}

.porque1 h4{
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
}