.servicios-container{
    background-color: var(--white-font);
    padding: 80px 30px;
    color: var(--gray-dark);
}

.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

.titulo{
    color: var(--primary-color);
}

.col h3{
    color: var(--primary-color);
    font-size: 29px;
}

.col p{
    color: var(--gray-dark);
}

.col i{
    color: var(--primary-color);
}